{namespace greetings.world}

/**
 * If $x has never met the world,
 * then $x : float.
 */
{template .HelloWorld}
  /** The name of the world. */
  {@param world : com.example.Name}
  <div id="greeting">  /* TODO: {xid ...} */
    Hello, <b class="{css world}">{if $world}{$world.html ?: $world.text}{else}World{/if}</b>!
  </div>
{/template}
