{namespace greetings.world}

/**
 * If $x has never met the world,
 * then $x : float.
 */
{template .HelloWorld}
  /** The name of the world. */
  {@param world : com.example.Name}
  Hello, <b>{$world ? ($world.html ?: $world.text) : 'World'}</b>!
{/template}
